In [5]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet

--2024-05-22 01:53:34--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.138.245.96, 108.138.245.225, 108.138.245.58, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.138.245.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 47673370 (45M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2023-01.parquet’

yellow_tripdata_202 100%[===================>]  45.46M  15.6MB/s    in 2.9s

2024-05-22 01:53:38 (15.6 MB/s) - ‘yellow_tripdata_2023-01.parquet’ saved [47673370/47673370]

--2024-05-22 01:53:38--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet
Reusing existing connection to d37ci6vzurychx.cloudfront.net:443.
HTTP request sent, awaiting response... 200 OK
Length: 47748012 (46M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2023-02.parquet’

yellow_tripdata_202 100%[===================>]  45.54M  21.5MB/s    in 2.1s

2024-05-22 01:53:40 (21.5 MB/s) - ‘yellow_tripdata_2023-02.parquet’ saved [47748012/47748012]

FINISHED --2024-05-22 01:53:40--
Total wall clock time: 5.8s
Downloaded: 2 files, 91M in 5.0s (18.1 MB/s)

In [6]:

# %%
import pandas as pd # working with tabular data
import pickle # for machine learning models
import seaborn as sns # visualization
import matplotlib.pyplot as plt # visualization

from sklearn.feature_extraction import DictVectorizer # Machine Learning
from sklearn.linear_model import LinearRegression # Machine Learning
from sklearn.linear_model import Lasso # Regularization
from sklearn.linear_model import Ridge # Regularization

from sklearn.metrics import mean_squared_error # Loss Function

In [9]:


# %%
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/.local/lib/python3.10/site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-16.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (40.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 29.7 MB/s eta 0:00:00:00:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0

In [10]:

# %%

nyc_yellow_taxi_2023_jan = pd.read_parquet('yellow_tripdata_2023-01.parquet')
print(nyc_yellow_taxi_2023_jan)


# %%


nyc_yellow_taxi_2023_jan.info()

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1               2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2               2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3               1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4               2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0
...           ...                  ...                   ...              ...
3066761         2  2023-01-31 23:58:34   2023-02-01 00:12:33              NaN
3066762         2  2023-01-31 23:31:09   2023-01-31 23:50:36              NaN
3066763         2  2023-01-31 23:01:05   2023-01-31 23:25:36              NaN
3066764         2  2023-01-31 23:40:00   2023-01-31 23:53:00              NaN
3066765         2  2023-01-31 23:07:32   2023-01-31 23:21:56              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.97         1.0                  N           161
1                 1.10         1.0                  N            43
2                 2.51         1.0                  N            48
3                 1.90         1.0                  N           138
4                 1.43         1.0                  N           107
...                ...         ...                ...           ...
3066761           3.05         NaN               None           107
3066762           5.80         NaN               None           112
3066763           4.67         NaN               None           114
3066764           3.15         NaN               None           230
3066765           2.85         NaN               None           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 141             2         9.30   1.00      0.5        0.00
1                 237             1         7.90   1.00      0.5        4.00
2                 238             1        14.90   1.00      0.5       15.00
3                   7             1        12.10   7.25      0.5        0.00
4                  79             1        11.40   1.00      0.5        3.28
...               ...           ...          ...    ...      ...         ...
3066761            48             0        15.80   0.00      0.5        3.96
3066762            75             0        22.43   0.00      0.5        2.64
3066763           239             0        17.61   0.00      0.5        5.32
3066764            79             0        18.15   0.00      0.5        4.43
3066765           143             0        15.97   0.00      0.5        2.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         14.30
1                 0.0                    1.0         16.90
2                 0.0                    1.0         34.90
3                 0.0                    1.0         20.85
4                 0.0                    1.0         19.68
...               ...                    ...           ...
3066761           0.0                    1.0         23.76
3066762           0.0                    1.0         29.07
3066763           0.0                    1.0         26.93
3066764           0.0                    1.0         26.58
3066765           0.0                    1.0         21.97

         congestion_surcharge  airport_fee
0                         2.5         0.00
1                         2.5         0.00
2                         2.5         0.00
3                         0.0         1.25
4                         2.5         0.00
...                       ...          ...
3066761                   NaN          NaN
3066762                   NaN          NaN
3066763                   NaN          NaN
3066764                   NaN          NaN
3066765                   NaN          NaN

[3066766 rows x 19 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [11]:


# %%

##19 columns for nyc yellow taxi jan 2023


# %%

# Create a new column called 'duration'which calculates the length of each ride ow_taxi_2023_jan['tpep_pickup_datetime']
nyc_yellow_taxi_2023_jan['duration'] = nyc_yellow_taxi_2023_jan['tpep_dropoff_datetime'] - nyc_yellow_taxi_2023_jan['tpep_pickup_datetime']
nyc_yellow_taxi_2023_jan['duration'] = nyc_yellow_taxi_2023_jan['duration'].dt.total_seconds()

In [12]:


# %%

#  computing standard deviation 
standard_deviation = nyc_yellow_taxi_2023_jan['duration'].std()
print(f"Standard deviation of duration (seconds): {standard_deviation:.2f}")
standard_deviation_mins = print(f"standard deviation in minutes): {standard_deviation/60:.2f}")

Standard deviation of duration (seconds): 2555.66
standard deviation in minutes): 42.59

In [ ]:

# %%

#42.59 minutes for standard deviation
# dropping outliers  - only keep those trips where duration was between 1 and 60 minutes


# %%

In [13]:

nyc_yellow_taxi_2023_jan=nyc_yellow_taxi_2023_jan[(nyc_yellow_taxi_2023_jan.duration >= 60) & (nyc_yellow_taxi_2023_jan.duration <= 3600)]
nyc_yellow_taxi_2023_jan

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,506.0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,379.0
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,765.0
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,577.0
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,650.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,839.0
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,1167.0
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,1471.0
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,780.0
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,864.0

In [ ]:

# %%

#Our original dataset has 3066766 rows but after removing outliers we have 3009173 rows , so the percentage of original dataset is 
#3009173/3066766
#98 percent

In [14]:

#for applying one-hot encoding, we need to convert the two features (PuLocationID and DOLocationID) to strings ... 
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

In [15]:

# %%

nyc_yellow_taxi_2023_jan[categorical] = nyc_yellow_taxi_2023_jan[categorical].astype(str)
nyc_yellow_taxi_2023_jan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3009173 entries, 0 to 3066765
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           object
 8   DOLocationID           object
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  duration               float64
dtypes: datetime64[us](2), float64(13), int64(2), object(3)
memory usage: 482.1+ MB

In [16]:

# %%

# turn the categorical columns into a list of dictionaries
list_of_dicts = nyc_yellow_taxi_2023_jan[categorical].to_dict(orient='records')
# fit a dictionary vectorizer
dv = DictVectorizer()

In [17]:

# %%

# get a feature matrix from it... 
feature_matrix = dv.fit_transform(list_of_dicts)
# convert to array
feature_matrix_array = feature_matrix.toarray()
# print dimensionality of feature matrix
dimensionality = feature_matrix_array.shape
print("Dimensonality:" , dimensionality)

MemoryError: Unable to allocate 11.5 GiB for an array with shape (3009173, 515) and data type float64

In [18]:


# %%

#  unable to allocate 12gb for an array with the shape of 3009173 and 515  
# training a linear regression model 
# Convert categorical columns to a dictionary
train_dicts = nyc_yellow_taxi_2023_jan[categorical].to_dict(orient='records')

# Instantiate a dictionary vectorizer
dv = DictVectorizer()

# training set 
X_train = dv.fit_transform(train_dicts)
# 

Y_train = nyc_yellow_taxi_2023_jan['duration'].values
## using linear regression 
linereg = LinearRegression()
linereg.fit(X_train,Y_train)
## predictions
predictions = linereg.predict(X_train) 
# root mean square error
mean_squared_error(Y_train, predictions, squared=False)
#Y_train
#X_train 
#predictions
#458.96/60

/home/codespace/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

458.9557094493475

In [21]:


# %%

# applying to Feb 2023 
nyc_yellow_taxi_2023_feb = pd.read_parquet('yellow_tripdata_2023-02.parquet')
nyc_yellow_taxi_2023_feb.info()
# Create a new column called 'duration'which calculates the length of each ride 
nyc_yellow_taxi_2023_feb['duration'] = nyc_yellow_taxi_2023_feb['tpep_dropoff_datetime'] - nyc_yellow_taxi_2023_feb['tpep_pickup_datetime']
nyc_yellow_taxi_2023_feb['duration'] = nyc_yellow_taxi_2023_feb['duration'].dt.total_seconds()
# dropping outliers  - only keep those trips where duration was between 1 and 60 minutes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 389.1+ MB

In [22]:

nyc_yellow_taxi_2023_feb=nyc_yellow_taxi_2023_feb[(nyc_yellow_taxi_2023_feb.duration >= 60) & (nyc_yellow_taxi_2023_feb.duration <= 3600)]
nyc_yellow_taxi_2023_feb
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

In [23]:

nyc_yellow_taxi_2023_feb[categorical] = nyc_yellow_taxi_2023_feb[categorical].astype(str)
nyc_yellow_taxi_2023_feb.info()
list_of_dicts = nyc_yellow_taxi_2023_feb[categorical].to_dict(orient='records')

<class 'pandas.core.frame.DataFrame'>
Index: 2855951 entries, 0 to 2913954
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           object
 8   DOLocationID           object
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  duration               float64
dtypes: datetime64[us](2), float64(13), int32(1), int64(1), object(3)
memory usage: 446.7+ MB

In [28]:

# training a linear regression model 
# Convert categorical columns to a dictionary
train_dicts = nyc_yellow_taxi_2023_feb[categorical].to_dict(orient='records')

# Instantiate a dictionary vectorizer
dv = DictVectorizer()

# training set 
X_train = dv.fit_transform(train_dicts)
# 

Y_train = nyc_yellow_taxi_2023_feb['duration'].values
## using linear regression 
linereg = LinearRegression()
linereg.fit(X_train,Y_train)
## predictions
predictions = linereg.predict(X_train) 
# root mean square error
mean_squared_error(Y_train, predictions, squared=False)

#Y_train
#X_train 
#predictions
466.734/60

# %%

/home/codespace/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

7.778899999999999

In [30]:
mean_squared_error(Y_train, predictions, squared=False)

/home/codespace/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

466.7369108895731